
html {
    scroll-behavior: smooth;

    }

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 90px;
    
}

  .container {
    background-image: url('./images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    margin-bottom: ;
    color: rgb(277,277,277);
}
  
  

.header-logo {
    
}

.navbar-menu .nav {
    display: flex;
    list-style: none;
}

.nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
  }


/*SECTIONS*/

  .hero-section div {
    text-align: center;
  }

  .what-we-do {
    text-align: center; 
  }

  .results {
    text-align: center;
    display: block;
    background-image: url('./images/headphones_hero_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    color: rgb(277,277,277);
    

  }

  .contact {
    text-align: center;
  }

  .footer {
    background-color: rgb(2, 2, 47);
  }

  .footer-ul .socials {
    display: flex;
    margin-left: 200px;
    gap: 20px;
    color:#ffffff;
    list-style: none;
    text-decoration: none;
  }

  .foot-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }